* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

:root {
    --first-color: #10375c;
    --second-color: #2e80ce;
    --color-xam-header: #c9d2da;
    --color-xam--full: #575f66;
}

/* ===== COMMON ====== */
img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
}

.content {
    max-width: 1170px;
    min-width: calc(100vw - 135px * 2);
    margin: 0 auto;
}

.btn {
    font-size: 1.8rem;
    text-align: center;
    display: inline-block;
    min-width: 104px;
    line-height: 44px;
    background-color: var(--second-color);
    border-radius: 999px;
    color: #fff;
    font-weight: 400;
    transition: all 0.5s ease;
    background-image: none;
}
.btn:hover {
    background-color: #8ec5fc;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}
/*  ======== HEADER ======= */
.header {
    min-width: 100vw;
    background: var(--first-color);
    padding-top: 30px;
    padding-bottom: 8px;
    position: sticky;
    top: -22px;
    z-index: 1;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: inline-block;
    font-size: 1rem;
    height: 44px;
    font-family: "Sora", sans-serif;
}
.logo__text {
    position: relative;
}
.header__logo {
    margin-left: 36px;
}
.logo__text::before,
.logo__text::after {
    content: "";
    display: block;
    border-radius: 50%;
    position: absolute;
}
.logo__text::before {
    width: 3em;
    height: 3em;
    background-color: var(--second-color);
    bottom: 0;
    left: -3.6em;
}
.logo__text::after {
    width: 1.5em;
    height: 1.5em;
    background-color: #fff;
    bottom: 4px;
    left: -23px;
}
.logo__text--brand {
    color: #fff;
}
.brand--big {
    font-size: 1.8em;
    font-weight: 400;
}
.brand--small {
    font-size: 1.2em;
    font-weight: 300;
    text-align: right;
}
.header__navbar ul {
    display: flex;
}

.header__navbar {
    /* margin-left: calc(100vw / 8); */
}
.header__navbar ul a {
    padding: 8px 21px;
    color: var(--color-xam-header);
    text-align: center;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 300;
    line-height: 2.8rem;
}

.header__navbar ul a:hover {
    text-shadow: 1px 0 0 #fff;
    color: #fff;
}
.header__navbar ul .active {
    font-weight: 600;
    position: relative;
    color: #fff;
}
.header__navbar ul .active:hover {
    text-shadow: none;
}
.header__navbar ul .active::before {
    position: absolute;
    width: 6px;
    height: 6px;
    display: inline-block;
    content: "";
    background: #fff;
    border-radius: 50%;
    left: 7px;
    top: 15px;
}

.header__log-in {
    font-weight: 300;
    color: var(--color-xam-header);
    margin-right: 28px;
}
.header__log-in:hover {
    text-shadow: 1px 0 0 #fff;
}
.header__btn {
    font-size: 1.6rem;
}

/*  ========= HERO ============ */
.hero {
    background-color: var(--first-color);
    padding-top: 68px;
    padding-bottom: 110px;
    min-width: 100vw;
}

.main-hero {
    display: flex;
    justify-content: space-between;
}
.hero__container {
    width: 517px;
}
.hero__title {
    padding: 60px 0 22px;
    color: #fff;
    font-size: 7rem;
    font-weight: 600;
    line-height: 8rem;
    letter-spacing: -1.4px;
}
.hero__desc {
    color: var(--color-xam-header);
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 3rem;
    margin-bottom: 38px; /* 166.667% */
}
.hero__contact {
    display: flex;
    align-items: center;
}

.hero__btn {
    width: 205px;
    line-height: 60px;
    margin-right: 38px;
    font-weight: 400;
}

.hero_call {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3rem; /* 166.66*/
}

.hero__img {
    display: flex;
    height: 540px;
    align-items: center;
    margin-right: 15px;
}

.hero__img--big {
    width: 330px;
    height: 540px;
    border-radius: 6px;
}
.hero__img--small {
    width: 210px;
    height: 410px;
    border-radius: 0px 6px 6px 0px;
}

/* ======= SERVICE ======= */
.service {
    padding: 170px 0;
}
.service__title {
    color: var(--first-color);
    text-align: center;
    font-size: 5rem;
    font-weight: 600;
    line-height: 6rem;
    letter-spacing: -0.1rem;
    margin-bottom: 18px;
}

.service__desc {
    margin: 0 auto 70px;
    width: 468px;
    color: var(--color-xam--full);
    text-align: center;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 300;
    line-height: 3rem;
}

.service__main {
    display: flex;
}
.service__figure {
    width: 570px;
    height: 570px;
    border-radius: 12px;
    margin-right: 130px;
}

.main__service__advice {
    display: grid;
    grid-template-columns: 470px;
    grid-template-rows: repeat(3, 128px);
    margin-bottom: 55px;
}
.service__row {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #fff;
    cursor: pointer;
    padding-left: 22px;
}
.service__row:hover {
    transform: translateX(-10px);
    transition: 0.25s;
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
    background-color: var(--color-xam-header);
}
.service__row:hover .service__icon {
    background-color: var(--second-color);
}
.service__icon {
    width: 83px;
    height: 60px;
    border-radius: 50%;
    display: grid;
    background-color: #eff6fd;
    margin-right: 19px;
}
/* teeth */
.fa-solid.fa-tooth {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: var(--first-color);
    width: 60px;
    height: 60px;
    font-size: 30px;
}
.service__row--title {
    color: var(--first-color);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: normal;
}
.service__row--desc {
    color: var(--color-xam--full);
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2.8rem;
}

.service--btn {
    min-width: 205px;
    line-height: 60px;
}

/* ==========   WORKS ========== */
.works {
    background: #f6fbff;
    padding: 100px 0;
}

.works__title {
    color: var(--first-color);
    font-size: 5rem;
    margin-bottom: 18px;
    font-weight: 600;
    line-height: 6rem;
    letter-spacing: -0.1rem;
}

.works__desc {
    width: 468px;
    color: var(--color-xam--full);
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 3rem;
    margin-bottom: 70px;
}

.works__main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}
.works__contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 16px solid #eaf6ff;
    border-radius: 4px;
    min-height: 370px;
}
.works__contact:hover {
    border: 16px solid var(--second-color);
}
.works__contact-main {
    width: 254px;
}
.works__icon {
    display: inline-block;
    width: 72px;
    height: 72px;
    margin-bottom: 18px;
}

.works__contact__title {
    color: var(--first-color);
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 3.6rem;
    margin-bottom: 28px;
}
.works__contact__desc,
.works__lear-more {
    --line-clamp: 4;
    color: var(--color-xam--full);
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2.8rem;
    margin-bottom: 18px;
}
.works__lear-more:hover {
    color: var(--second-color);
    text-decoration: underline;
}

/* ======= FEATURE1 ========= */
.feature1 {
    padding: 170px 0 85px;
}

.feature1__container {
    display: flex;
    justify-content: space-between;
}
.feature1__img {
    position: relative;
    min-height: 490px;
}
.feature1__img--below {
    width: 512px;
    height: 370px;
    border-radius: 6px;
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.07);
}
.feature1__img--above {
    width: 332px;
    height: 370px;
    border-radius: 6px;
    position: absolute;
    bottom: 0;
    right: -58px;
}
.feature1__main {
    width: 470px;
    align-self: center;
}

.feature1__title {
    color: var(--first-color);
    font-size: 5rem;
    font-weight: 600;
    line-height: 6rem;
    letter-spacing: -1px;
    margin-bottom: 18px;
}
.feature1__desc {
    color: var(--color-xam--full);
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 3rem;
    margin-bottom: 38px;
}
.feature1__btn {
    min-width: 205px;
    line-height: 60px;
}

/* ========= DENTIST ======== */
.dentist {
    padding: 85px 0;
}
.dentist__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dentist__title {
    color: var(--first-color);
    text-align: center;
    font-size: 5rem;
    font-weight: 600;
    line-height: 6rem;
    letter-spacing: -1px;
    margin-bottom: 38px;
}
.dentist__btn {
    min-width: 205px;
    line-height: 60px;
    margin: 0 auto 70px;
}

.dentist__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
}
.dentist__item {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin-bottom: 38px;
}

.dentist__img {
    width: 270px;
    height: 318px;
    border-radius: 6px;
    background: #eaf6ff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 12px;
}
.dentist__img img {
    width: 253px;
    height: 290px;
    border-radius: 6px;
}

.dentist__name {
    color: #10375c;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.8rem;
    margin: 0 auto;
}
.dentist__desc {
    color: #575f66;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 2.6rem;
}

.transfer {
    display: flex;
    align-items: center;
    width: 90px;
    justify-content: space-between;
}
.transfer--back,
.transfer--next {
    color: var(--color-xam--full);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid var(--color-xam--full);
    display: flex;
    justify-content: center;
    align-items: center;
}
.transfer--back {
    transform: rotate(180deg);
}
.transfer--back:hover,
.transfer--next:hover {
    color: #fff;
    background-color: var(--second-color);
}

/* ========= FEATURE 2 ======== */
.feature2 {
    padding: 180px 0 85px;
}

.feature2__container {
    height: 430px;
    background-color: var(--second-color);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.feature2__img {
    position: absolute;
    width: 284px;
    height: 522px;
    left: 70px;
    bottom: 0;
}

.feature2__main {
    width: 586px;
    margin-right: 70px;
}

.feature2__title {
    width: 490px;
    color: #fff;
    font-size: 5rem;
    font-weight: 600;
    line-height: 6rem;
    letter-spacing: -1px;
    margin-bottom: 18px;
}

.feature2__desc {
    width: 586px;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 3rem;
    margin-bottom: 38px;
    --line-clamp: 3;
}

.feature2__download {
    display: flex;
}
.feature2__download--box {
    display: flex;
    align-items: center;
    width: 170px;
    height: 40px;
    color: #fff;
    font-size: 1rem;
    border: 1px solid #fff;
    border-radius: 6px;
    padding: 7px 0 7px 7px;
    margin-right: 28px;
}
.feature2__download--box:hover {
    opacity: 0.8;
}
.feature2__icon {
    font-size: 2.8em;
    margin-right: 0.3em;
}
.text-android,
.text-ios {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.text-android {
    margin-right: 2.8em;
}
.text-app {
    font-size: 1.5em;
    font-weight: 400;
}

.get-android,
.get-ios {
    margin-bottom: 0.4em;
    font-size: 0.9em;
}

/* ========= NEWS =========== */
.news {
    padding: 85px 0;
}

.news__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.news__title {
    width: 470px;
    color: var(--first-color);
    font-size: 5rem;
    font-weight: 600;
    line-height: 6rem;
    letter-spacing: -1px;
}
.news__link-blog {
    display: block;
    margin: 28px 0;
    color: var(--first-color);
    font-family: "Inter", sans-serif;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.8rem;
    text-decoration-line: underline;
}
.news__link-blog:hover {
    opacity: 0.8;
}
.news__right {
    display: grid;
    grid-template-columns: repeat(2, 270px);
    column-gap: 30px;
}
.news__event {
    min-height: 375px;
    border-radius: 12px;
    border: 1px solid #e8ebee;
    background: #fff;
    cursor: pointer;
}
.news__event:hover {
    box-shadow: 0px 18px 50px 0px rgba(0, 0, 0, 0.05);
    transform: translateY(-10px);
    transition: 0.2s all;
}

.news__img {
    width: 270px;
    height: 172px;
    border-radius: 12px 12px 0px 0px;
    overflow: hidden;
}
.news__img img {
    border-radius: 12px 12px 0px 0px;
    transition: 0.25s all;
}
.news__event-content {
    padding: 18px 22px 0;
}

.news__event__title {
    color: var(--first-color);
    font-family: Sora;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2.6rem;
    --line-clamp: 2;
    margin-bottom: 10px;
}

.news__event__desc {
    color: var(--color-xam--full);
    font-family: Sora;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 2.4rem;
    --line-clamp: 4;
    margin-bottom: 12px;
}
.news__learn-more {
    color: var(--first-color);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: normal;
}
.news__learn-more:hover {
    color: var(--second-color);
    text-decoration: underline;
}

/* =========== Welcom ======== */
.welcom {
    padding: 85px 0 170px;
}

.welcom__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
    background: #f6fbff;
}

.welcom__title {
    color: var(--first-color);
    text-align: center;
    font-size: 5rem;
    font-weight: 600;
    line-height: 6rem;
    letter-spacing: -1px;
    margin-bottom: 38px;
    position: relative;
}
.welcom__title::after {
    content: "";
    display: block;
    width: 136px;
    height: 2px;
    background: var(--second-color);
    position: absolute;
    bottom: -18px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.welcom__desc {
    color: #575f66;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2.8rem;
    margin-bottom: 38px;
    width: 617px;
    --line-clamp: 4;
}

.welcom__btn {
    min-width: 205px;
    line-height: 60px;
}

/* ========== footer ========= */
.footer {
    padding-top: 85px;
    background-color: var(--first-color);
    font-family: "Open Sans", sans-serif;
}

.footer__container {
    padding-bottom: 42px;
}
.footer__main {
    display: grid;
    grid-template-columns: 1fr 0.4fr 0.4fr 1fr;
    column-gap: 78px;
}

.footer__desc {
    margin-top: 20px;
    color: #a9b3bb;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.8rem;
}

.footer__heading {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2.8rem;
    margin-bottom: 20px;
}

.footer__list li a {
    color: #a9b3bb;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.6;
    white-space: nowrap;
}
.footer__list li a:hover {
    text-decoration: underline;
}
.footer__block:last-child {
    margin-top: 28px;
}

.footer__social {
    display: flex;
    column-gap: 10px;
    margin-bottom: 28px;
}
.footer__social--icon {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--second-color);
    background-color: #fff;
}
.footer__social--icon:hover {
    color: #fff;
    background-color: var(--second-color);
}

.footer__col__desc {
    color: #a9b3bb;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.6rem;
    width: 273px;
    margin-bottom: 10px;
}

.footer__action {
    display: flex;
    align-items: center;
}

.footer__action--entry {
    width: 212px;
    height: 46px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #406181;
    background: var(--first-color);
    color: #9ca8b1;
    font-size: 1.4rem;
    line-height: 2.6rem;
    margin-right: 12px;
}

.footer__btn {
    min-width: 108px;
    line-height: 46px;
    border-radius: 8px;
    background: var(--second-color);
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    cursor: pointer;
}

.footer__line {
    width: 100%;
    height: 1px;
    background: #406181;
    margin: 28px 0;
}
.footer__end {
    color: #aab3ba;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.6;
}
